<app-sidebar
  [sidebarCollapsed]="sidebarCollapsed"
  (applicationNav)="navigateToApplication()"
  (featureNav)="navigateToFeature()"
  (ticketNav)="navigateToTicket()"
  (feedbackNav)="navigateToFeedback()"
  (toggleSidebar)="toggleSidebar()"
></app-sidebar>

<app-header (toggleSidebar)="toggleSidebar()"></app-header>

<button  class="addfeat" (click)="openAddTicketDialog()">Add Ticket</button>


<div class="main-content" [class.sidebar-collapsed]="sidebarCollapsed">
  <h2 style="position: absolute ;top: 9%; right: 0%; width: 81% !important;">Indicateur de performance</h2>
  <div class="kpi-cards" style="position: absolute ; height:300px;top: 12%; right: 0%; width: 81% !important;display: flex; justify-content: center; align-items: center;">
    <mat-card class="kpi-card total" (click)="filterByState('ALL')">
      <mat-card-header>
        <mat-card-title>TOTAL</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalTickets }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="kpi-card assigned" (click)="filterByState('ASSIGNED')">
      <mat-card-header>
        <mat-card-title>ASSIGNED</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalAssigned }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="kpi-card inprogress" (click)="filterByState('IN_PROGRESS')">
      <mat-card-header>
        <mat-card-title>IN PROGRESS</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalInProgress }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="kpi-card solved" (click)="filterByState('SOLVED')">
      <mat-card-header>
        <mat-card-title>SOLVED</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalSolved }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="kpi-card approved" (click)="filterByState('APPROVED')">
      <mat-card-header>
        <mat-card-title>APPROVED</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalApproved }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="kpi-card closed" (click)="filterByState('CLOSED')" >
      <mat-card-header>
        <mat-card-title>CLOSED</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalClosed }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="kpi-card cancelled" (click)="filterByState('CANCELLED')">
      <mat-card-header>
        <mat-card-title>CANCELLED</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ totalCancelled }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <h2 style="position: absolute ;top: 400px; right: 0%; width: 81% !important;">List des tickets</h2>
   <table *ngIf="tickets && tickets.length > 0" style="position: absolute; top: 440px;right: 0%; width: 81% !important;" 
      class="tickets-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Creation Date</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Type</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of filteredTickets">
        <td>
          <span style="color:#1976d2; text-decoration:underline; cursor:pointer" (click)="goToTicketDetails(ticket.id)">
            {{ ticket.title }}
          </span>
        </td>
        <td>{{ ticket.creationDate | date:'medium' }}</td>
        <td>{{ ticket.assignedTo }}</td>
        <!-- <td>{{ ticket.status }}</td> -->
        <td [ngClass]="'status-' + ticket.status.toLowerCase()">{{ ticket.status }}</td>
        <td>{{ ticket.priority }}</td>
        <td>{{ ticket.category }}</td>
        <td>{{ ticket.type }}</td>
        <!-- <td>
          <button mat-icon-button color="warn" (click)="deleteticket(ticket.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

