<header class="app-header">
  <!-- <button class="menu-btn" (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <img src="assets/cid.png" alt="CID Ticket Logo" class="logo" />
  <div class="account-info">
    <div class="initials" [matMenuTriggerFor]="profileMenu">
      {{ initials }}
    </div>
  </div>
  <mat-menu #profileMenu="matMenu" panelClass="profile-menu-panel" class="mydropdown">
    <div class="profile-names">
      <span class="fname">{{firstname}}</span>
      <span class="lname">{{lastname}}</span>
    </div>
    <div class="email">{{email}}</div>
    <div class="role">{{role}}</div>
    <button mat-menu-item class="logout-btn" (click)="logout()">Logout</button>
  </mat-menu>

</header>
<style>
.mydropdown{
  background-color: #60a3f5!important;
  height: 500px;
}
</style>