<div class="dialog-title-row">
  <h2 mat-dialog-title>User Rating Details</h2>
  <button mat-icon-button class="close-btn" (click)="dialogRef.close()" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div><strong>Usability:</strong>
    <span class="star-rating">
      <ng-container *ngFor="let star of [1,2,3,4,5]">
        <ng-container *ngIf="data.usability >= star; else emptyStar1">&#9733;</ng-container>
        <ng-template #emptyStar1>&#9734;</ng-template>
      </ng-container>
    </span>
    <span style="margin-left:8px; color:#333; font-size:15px;">{{ data.usability }}/5</span>
  </div>
  <div><strong>Satisfaction:</strong>
    <span class="star-rating">
      <ng-container *ngFor="let star of [1,2,3,4,5]">
        <ng-container *ngIf="data.satisfaction >= star; else emptyStar2">&#9733;</ng-container>
        <ng-template #emptyStar2>&#9734;</ng-template>
      </ng-container>
    </span>
    <span style="margin-left:8px; color:#333; font-size:15px;">{{ data.satisfaction }}/5</span>
  </div>
  <div><strong>Performance:</strong>
    <span class="star-rating">
      <ng-container *ngFor="let star of [1,2,3,4,5]">
        <ng-container *ngIf="data.performance >= star; else emptyStar3">&#9733;</ng-container>
        <ng-template #emptyStar3>&#9734;</ng-template>
      </ng-container>
    </span>
    <span style="margin-left:8px; color:#333; font-size:15px;">{{ data.performance }}/5</span>
  </div>
  <div><strong>Design:</strong>
    <span class="star-rating">
      <ng-container *ngFor="let star of [1,2,3,4,5]">
        <ng-container *ngIf="data.design >= star; else emptyStar4">&#9733;</ng-container>
        <ng-template #emptyStar4>&#9734;</ng-template>
      </ng-container>
    </span>
    <span style="margin-left:8px; color:#333; font-size:15px;">{{ data.design }}/5</span>
  </div>
  <div><strong>Reliability:</strong>
    <span class="star-rating">
      <ng-container *ngFor="let star of [1,2,3,4,5]">
        <ng-container *ngIf="data.reliability >= star; else emptyStar5">&#9733;</ng-container>
        <ng-template #emptyStar5>&#9734;</ng-template>
      </ng-container>
    </span>
    <span style="margin-left:8px; color:#333; font-size:15px;">{{ data.reliability }}/5</span>
  </div>
  <div *ngIf="data.comment"><strong>Comment:</strong> {{ data.comment }}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
