<app-sidebar
  [sidebarCollapsed]="sidebarCollapsed"
  (toggleSidebar)="toggleSidebar()"
></app-sidebar>
<app-header (toggleSidebar)="toggleSidebar()"></app-header>
<div class="main-content" [class.sidebar-collapsed]="sidebarCollapsed" style="top: 25px;">
<mat-card *ngIf="ticket">
  <h2>{{ ticket.title }}</h2>
  <p><strong>Description:</strong> {{ ticket.description }}</p>
  <p><strong>Location:</strong>{{ticket.location}}</p>
  <p><strong>Priority:</strong> {{ ticket.priority }}</p>
  <p><strong>Status:</strong> {{ ticket.status }}</p>
  <p><strong>Created By:</strong> {{ ticket.createdBy }}</p>
  <p><strong>Assigned To:</strong> {{ ticket.assignedTo }}</p>
  <h3>State Change History</h3>
  <table>
    <thead>
      <tr>
        <th>State</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="ticketDetails.createdAt">
        <td>CREATED</td>
        <td>{{ ticketDetails.createdAt | date:'short' }}</td>
      </tr>
      <tr *ngIf="ticketDetails.assignedAt">
        <td>ASSIGNED</td>
        <td>{{ ticketDetails.assignedAt | date:'short' }}</td>
      </tr>
      <tr *ngIf="ticketDetails.inProgressAt">
        <td>IN_PROGRESS</td>
        <td>{{ ticketDetails.inProgressAt | date:'short' }}</td>
      </tr>
      <tr *ngIf="ticketDetails.solvedAt">
        <td>SOLVED</td>
        <td>{{ ticketDetails.solvedAt | date:'short' }}</td>
      </tr>
      <tr *ngIf="ticketDetails.approvedAt">
        <td>APPROVED</td>
        <td>{{ ticketDetails.approvedAt | date:'short' }}</td>
      </tr>
      <tr *ngIf="ticketDetails.closedAt">
        <td>CLOSED</td>
        <td>{{ ticketDetails.closedAt | date:'short' }}</td>
      </tr>
      <tr *ngIf="ticketDetails.cancelledAt">
        <td>CANCELLED</td>
        <td>{{ ticketDetails.cancelledAt | date:'short' }}</td>
      </tr>
    </tbody>
  </table>
</mat-card>
</div>
