<div class="app-sidebar" [class.collapsed]="sidebarCollapsed">
  <nav>
    <button class="menu-btn" (click)="toggleSidebar.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Admin Links -->
    <ng-container *ngIf="role === 'ADMIN'">
      <a class="nav-link" (click)="navigateToTicket()">
        <mat-icon>list_alt</mat-icon>
        <span>All Tickets</span>
      </a>
      <a class="nav-link" (click)="navigateToFeedback()">
        <mat-icon>feedback</mat-icon>
        <span>All Feedback</span>
      </a>
      <a class="nav-link" (click)="navigateToApplication()">
        <mat-icon>apps</mat-icon>
        <span>Applications</span>
      </a>
      <a class="nav-link" (click)="navigateToFeature()">
        <mat-icon>star</mat-icon>
        <span>Features</span>
      </a>
      <a class="nav-link" (click)="navigateToHistory()">
        <mat-icon>history</mat-icon>
        <span>History</span>
      </a>
    </ng-container>

    <!-- Dev and Tech Links -->
    <ng-container *ngIf="role === 'DEV' || role === 'TECH'">
      <a class="nav-link" (click)="navigateToApplication()">
        <mat-icon>apps</mat-icon>
        <span>Applications</span>
      </a>
      <a class="nav-link" (click)="navigateToFeature()">
        <mat-icon>star</mat-icon>
        <span>Features</span>
      </a>
      <a class="nav-link" (click)="navigateToAssigned()">
        <mat-icon>assignment_ind</mat-icon>
        <span>Assigned</span>
      </a>
      <a class="nav-link" (click)="navigateToFeedback()">
        <mat-icon>add_reaction</mat-icon>
        <span>Feedback</span>
      </a>
      <a class="nav-link" (click)="navigateToHistory()">
        <mat-icon>history</mat-icon>
        <span>History</span>
      </a>
    </ng-container>

    <!-- User Links -->
    <ng-container *ngIf="role === 'USER'">
      <a class="nav-link" (click)="navigateToApplication()">
        <mat-icon>apps</mat-icon>
        <span>Applications</span>
      </a>
      <a class="nav-link" (click)="navigateToFeature()">
        <mat-icon>star</mat-icon>
        <span>Features</span>
      </a>
      <a class="nav-link" (click)="navigateToTicket()">
        <mat-icon>confirmation_number</mat-icon>
        <span>My Tickets</span>
      </a>
      <a class="nav-link" (click)="navigateToFeedback()">
        <mat-icon>add_reaction</mat-icon>
        <span>Feedback</span>
      </a>
      <a class="nav-link" (click)="navigateToHistory()">
        <mat-icon>history</mat-icon>
        <span>History</span>
      </a>
    </ng-container>
  </nav>
</div>
