<p>Give Your Feedback!</p>
  <app-sidebar
  [sidebarCollapsed]="sidebarCollapsed"
  (applicationNav)="navigateToApplication()"
  (featureNav)="navigateToFeature()"
  (ticketNav)="navigateToTicket()"
  (feedbackNav)="navigateToFeedback()"
></app-sidebar>

<app-header (toggleSidebar)="toggleSidebar()"></app-header>

  <div class="cards" style="position: absolute ; height:300px;top: 12%; right: 0%; width: 81% !important;display: flex; 
  justify-content: center; align-items: center;">
    <mat-card
      *ngFor="let app of applications"
      class="app-card"
      style=" width: 200px; "
    >
      <mat-card-header>
        <mat-card-title class="tofeat" style=" color:#1976d2; text-decoration:underline">
          {{ app.name }}
        </mat-card-title>

        <span style="margin-left:8px; display:flex; align-items:center;">
          <button mat-icon-button color="primary" (click)="openrateAppDialog(app)" >
            <mat-icon>add_reaction</mat-icon>
          </button>
        </span>
      </mat-card-header>

      <img mat-card-image *ngIf="app.logoLink" [src]="app.logoLink" alt="App Logo" />

      
    </mat-card>

    <div class="pagination-controls">
    <button mat-raised-button (click)="previousPage()" [disabled]="currentPage === 0">
      ← Previous
    </button>
  
    <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
  
    <button mat-raised-button (click)="nextPage()" [disabled]="currentPage + 1 >= totalPages">
      Next →
    </button>
  </div>
